<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IDSP Expense Tracker</title>
    <script type="module" src="/src/client/main.ts" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="bg-primary-black-page">
    <div id="header" hx-get="/header" hx-trigger="load" hx-swap="outerHTML">
      Loading
    </div>
      <div id="app" hx-get="/home" hx-trigger="load" hx-swap="outerHTML">
        <div class="flex h-screen items-center justify-center bg-primary-black-page">
          <div class="p-5 border-2 border-primary-grey rounded-lg">
            <div class="flex items-center justify-center space-x-2">
              <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-font-off-white" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 0116 0H4z"></path>
              </svg>
              <span class="text-base font-medium tracking-wide text-font-off-white">Processing...</span>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div id="/nav" hx-get="/nav" hx-trigger="load" hx-swap="outerHTML">
      Loading...
    </div>
  </body>
</html>
<!-- Make it so this /home goes to header/navigation, then in there it knows to load the default overview page-->
