<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farishare</title>
    <script type="module" src="/src/client/main.ts" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <link rel="stylesheet" href="/output.css" />
    <link rel="stylesheet" href="/global.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-primary-black-page">
    <div
      id="header"
      hx-get="/header"
      hx-trigger="load"
      hx-swap="outerHTML"
    ></div>
    <div
      id="app"
      hx-get="/transactions/accounts"
      hx-trigger="load"
      hx-swap="innerHTML"
    ></div>
    <div id="nav" hx-get="/nav" hx-trigger="load" hx-swap="outerHTML"></div>
  </body>
</html>
<!-- Make it so this /home goes to header/navigation, then in there it knows to load the default overview page-->
